

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Every Vote</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:100|Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>

<!--[body of html]><!--> 
<body>

<!--[fixed position top bars]><!--> 
    <div id="progressBar" data-0="width: 0%" data-end="width: 100%"></div>

<!--[header]><!--> 
    <header> 
      <div class="wrap">
        <h1>EVERY VOTE</h1>
        <p>a user friendly, multi-platform, </br>state universal voter registration tool</p>
      </div>
    </header>

    <main>

      <div class="mainWrap">
      <h1>I want to</h1>
      <ul class="links">
        <li><a class="active" href="#home">register to vote</a></li>
        <li><a href="#news">update my name</a></li>
        <li><a href="#contact">update my address</a></li>
        <li><a href="#about">request an absentee ballot</a></li>
      </ul>

      </div>

      <form method="POST" action="/submit_form" class="mainWrap">

      <h3><span class="qno">First...</span></h3>

      <div class="radio">
        <h3>Are you a <br />US Citizen?</h3>
        <p>You must have been born or naturalized in the US to vote in government elections</p>
        <input type="radio" id="citizenYes" name="citizenYes" value="y" required>Yes<br>
        <input type="radio" id="citizenNo" name="citizenNo" value="n">No 
      </div>

      <div class="radio">
        <h3>Are you <br />18 Years old?</h3>
        <p>You don't have to be now; but you have to be by November 8, 2016 in order to vote</p>
        <input type="radio" id="ofageYes" name="ofage" value="y" required>Yes<br>
        <input type="radio" id="ofageNo" name="ofage" value="n">No
      </div> 

      <h2><span class="qno">1</span> personal information</h2>
      <input placeholder="First Name" type="text" class="fname" name="firstname" id="firstname" required/>
      <input placeholder="Middle Name" type="text" class="mname" name="middlename" id="middlename"/>
      <input placeholder="Last Name" type="text" class="lname" name="lastname" id="lastname" required/>
      <input placeholder="Date of Birth xx/xx/xx" type="text" class="dob" name="dob" id="dob" required />


      <h2><span class="qno">2</span> address information</h2>
      <input placeholder="Home Address" type="text" class="fname" name="haddress" id="haddress" required/>
      <input placeholder="Apt, Lot, Suite" type="text" class="mname" name="hapt" id="hapt"/>
      <input placeholder="City" type="text" class="lname" name="hcity" id="hcity" required/>
      <input placeholder="State" type="text" class="fname" name="hstate" id="hstate" required/>
      <input placeholder="Zip Code" type="text" class="mname" name="hzcode" id="hzcode" required/>

      <h2><span class="qno">3</span> contact information</h2>
      <input placeholder="Telephone Number" type="text" class="fname" name="tnumber" id="tnumber" />
      <input placeholder="Email" type="text" class="mname" name="email" id="email"/>

      <h2><span class="qno">4</span> sign, seal, deliver (almost)</h2>
      <input placeholder="First Name" type="text" class="fname" name="fsig" id="fsig" required/>
      <input placeholder="Middle Name" type="text" class="mname" name="msig" id="msig" required/>
      <input placeholder="Last Name" type="text" class="lname" name="lsig" id="lsig" required/>
      <input placeholder="Today's Date xx/xx/xxxx" type="text" class="dob" name="tday" id="tday" required/>

      <h3><span class="qno">Lastly...</span></h3>
      <input placeholder="Choose Your County" type="text" class="fname" name="hcounty" id="hcounty" required/>
      <input placeholder="xxxxxx1234" type="text" class="mname" name="idnumber" id="idnumber" required/>
      <button class="bigBtn"type="submit" id="formSubmit"> Submit </button> 




      </form>
    </main>

<!--[footer]><!-->         
  <footer>
    <div class="wrap">
      <p>&copy; 2016 www.ashley-cortez.squarespace.com</p>
    </div>
  </footer>


<!--[scripts]><!-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> 
  <script src="/js/plugins.js"></script>
  <script src="/js/main.js"></script>

</body>
</html>
