<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Review My Information</title>

    <!-- Custom Font - Change 'Muli' to the font you want -->
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>

    <!-- Custom CSS inside CSS folder -->
    <link rel="stylesheet" href="/css/main.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class = "wrap">
      <h1>Does this look right?<h2>    
        <h3>go ahead and look it over <br>you can hit the edit button or go<br>forward to finish the registration process</h3>

        <h3>Personal Information</h3><br>

        <br>Name:<br> 
        {{ln}}, {{fn}} {{mn}}<br>
        Address:<br>
        {{ha}} {{hap}}, {{hc}}, {{hs}}, {{hz}}
        <br>
        <br><h3>Contact Information</h3><br>
        {{tn}}<br>
        {{em}}<br>

        <br>Last 4 Digits of your SSN:<br>
        {{id}}
      </p>

    </div>

<!-- row of buttons -->
      <div class="mainWrap">
          <form action="/resubmit" method="POST">
          <button type="submit" class="button">Edit It</button>
          </form>
          <form action="/renderform" method="POST">

            <input class="hiddenField" value="{{czy}}" id="citizenYes" name="citizenYes"></input>
            <input class="hiddenField" value="{{czn}}" id="citizenNo" name="citizenNo"></input>
            <input class="hiddenField" value="{{oay}}" id="ofageYes" name="ofageYes"></input>
            <input class="hiddenField" value="{{oan}}" id="ofageNo" name="ofageNo"></input>
            <input class="hiddenField" value="{{ln}}" id="lastname" name="lastname"></input>
            <input class="hiddenField" value="{{fn}}" id="firstname" name="firstname"></input>
            <input class="hiddenField" value="{{mn}}" id="middlename" name="middlename"></input>
            <input class="hiddenField" value="{{ha}}" id="haddress" name="haddress"></input>
            <input class="hiddenField" value="{{hap}}" id="hapt" name="hapt"></input>
            <input class="hiddenField" value="{{hc}}" id="hcity" name="hcity"></input>
            <input class="hiddenField" value="{{hs}}" id="hstate" name="hstate"></input>
            <input class="hiddenField" value="{{hz}}" id="hzcode" name="hzcode"></input>
            <input class="hiddenField" value="{{hco}}" id="hcounty" name="hcounty"></input>
            <input class="hiddenField" value="{{ma}}" id="maddress" name="maddress"></input>
            <input class="hiddenField" value="{{map}}" id="mapt" name="mapt"></input>
            <input class="hiddenField" value="{{mc}}" id="mcity" name="mcity"></input>
            <input class="hiddenField" value="{{ms}}" id="mstate" name="mstate"></input>
            <input class="hiddenField" value="{{mz}}" id="mzcode" name="mzcode"></input>
            <input class="hiddenField" value="{{db}}" id="dob" name="dob"></input>
            <input class="hiddenField" value="{{tn}}" id="tnumber" name="tnumber"></input>
            <input class="hiddenField" value="{{id}}" id="idnumber" name="idnumber"></input>
            <input class="hiddenField" value="{{pp}}" id="party" name="party"></input>
            <input class="hiddenField" value="{{em}}" id="email" name="email"></input>
            <input class="hiddenField" value="{{sig}}" id="sign" name="sign"></input>
            <input class="hiddenField" value="{{td}}" id="tday" name="tday"></input>          
    <button type="submit" class="button">Looks Great!</button>
     </div>



  </body>

    <!-- JQuery script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 

    <!-- CUSTOM JS -->
    <script src="/js/main.js"></script>

    <!-- JQuery validate -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    
    <script type="text/javascript">

    </script>


</html>