@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700);

@font-face {
  font-family: 'Avenir-Next-Condensed';
  src: url('/fonts/Avenir-Next-Condensed.ttc');
}

@font-face {
  font-family: 'Avenir-Next';
  src: url('/fonts/Avenir-Next.ttc');
}

@font-face {
  font-family: 'National-Light';
  src: url('/fonts/National-Light.otf');
}

@font-face {
  font-family: 'National-Regular';
  src: url('/fonts/National-Regular.otf');
}

* {
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  outline:none;
  border:0;
}

body {
  background:#f4f3f3;
}

.wrap {
  max-width:800px;
  width:80%;
  margin:0 auto;
  padding:40px 0px 40px 0px;
}

.wrap h1 {
  font-size:5em;
  font-family:"Avenir-Next-Condensed";
  font-weight:900;
  color:#021129;
  text-shadow:0px 1px 0px rgba(0,0,0,.1);
  -webkit-font-smoothing: antialiased;
  letter-spacing:-3px;
  text-align: center;
}

.wrap p {
  font-family:"Gentium Book Basic";
  font-size:1.5em;
  color:#a3998e;
  text-shadow:0px 1px 0px rgba(0,0,0,.1);
  letter-spacing:1px;
  text-align: center;
}

.fa {
  margin-right:10px;
}

.mainWrap {
  max-width:600px;
  width:80%;
  margin:0 auto;
  padding-bottom:100px;
}

.radio{
  width:49%;
  min-height: 300px;
  display: inline-block;
  vertical-align: top;
  border:0;
  border-width: 4px;
  border-style: solid;
  border-color: #4970a9;
  
  background:#fff;
  padding:10px;
  font-size:1.2em;
  font-family:"Gentium Book Basic";
  box-shadow:4px 4px 0px rgba(0,0,0,.1);
  color:#111;
  text-align: center;
}

.fname,
.mname,
.lname {
  width:30%;
  border:0;
  border-width: 4px;
  border-style: solid;
  border-color: #4970a9;
  margin: 2px;
  background:#fff;
  padding:10px;
  font-size:1.2em;
  font-family:"Gentium Book Basic";
  box-shadow:4px 4px 0px rgba(0,0,0,.1);
  color:#111;
  text-align: center;
}

.dob {
  width:94%;
  border:0;
  border-width: 4px;
  border-style: solid;
  border-color: #4970a9;
  background:#fff;
  margin-top: 3px;
  padding:10px;
  font-size:1.2em;
  font-family:"Gentium Book Basic";
  box-shadow:4px 4px 0px rgba(0,0,0,.1);
  color:#111;
  text-align: center;
}

::-webkit-input-placeholder {
  color: #696969;
}

:-moz-placeholder {
 color: #696969; 
}

::-moz-placeholder {  
 color: #696969;
}

:-ms-input-placeholder {  
 color: #696969;
}

.name {
  float:left;
}

.email {
  float:right;
}

.bigBtn {
  width:100%;
  padding:20px;
  text-align:center;
  margin-top:20px;
  font-size:2em;
  font-family:"Gentium Book Basic";
  background:#4970a9;
  color:#fff;
  cursor:pointer;
  box-shadow:4px 4px 0px rgba(0,0,0,.1);
}

.button {
    background: #4970a9; /* Green */
    color: #fff;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    cursor: pointer;
    box-shadow:4px 4px 0px rgba(0,0,0,.1);
}

.pdfobject-container { height: 500px}
.pdfobject { border: 1px solid #666; }



/* Landscape mobile & down */
@media (max-width: 30em) {
  .wrap h1 {
    font-size:2.3em;
    letter-spacing:0;
  }
  
  .wrap p {
    font-size:1.1em;
    line-height:1.4em;
  }
  
  .name,.email {
    width:100%;
  }
  
  .email {
    margin-top:20px;
  }
  
  .bigBtn {
    font-size:1.3em;
  }
  
}